<section>
  <div *ngIf="this.comprimentoLista > 0" class="lista-mesas">

    <div class="conteudo-mesa" *ngFor="let mesa of this.listaMesas" >
      <h1 [routerLink]="['/home', mesa.id]" >{{mesa.nome}}</h1>

      <div class="produto">
        <div class="card-produto" *ngFor="let produto of mesa.produtos | orderBy: key : reverse" >

          <div class="dados-produto" >
            <p (click)="redirecionaParaPaginaProduto(mesa.id, produto.id)" >{{produto.nome}}</p>
            <!--<p class="qtd-produto">x {{pedido.qtdProduto}}</p>-->
          </div>

        </div>
      </div>

    </div>

  </div>
  <h1 class="lista-vazia" *ngIf="this.comprimentoLista == 0" routerLink="/home" >Ainda não temos pedidos realizados...</h1>
</section>
