<section>
  <div class="lista-mesas">

    <div class="conteudo-mesa" *ngFor="let mesa of this.listaMesas" >
      <h1>{{mesa.nome}}</h1>

      <div class="produto">
        <div class="card-produto" *ngFor="let pedido of mesa.produtos | orderBy: key : reverse" >

          <div class="dados-produto" [routerLink]="['/home', mesa.id]" >
            <p>{{pedido.nome}}</p>
            <p class="qtd-produto">x {{pedido.qtdProduto}}</p>
          </div>

        </div>
      </div>

    </div>

  </div>
</section>
