<section>
  <div class="card-carrinho-usuario" >

    <h1>Meus pedidos</h1>
    <strong>{{mesa.nome}}</strong>

    <div class="card-carrinho-usuario-array" *ngFor="let produto of this.mesa.produtos" >

      <div *ngIf="this.tipo != 'mesa'" class="dados-produto" (click)="removerProduto(mesa.id, produto.id)" >
        <p>{{produto.nome}}</p>
        <p class="preco">x {{produto.qtdProduto}}</p>
      </div>

      <div *ngIf="this.tipo == 'mesa'" class="dados-produto usuario-comun" >
        <p>{{produto.nome}}</p>
        <p class="preco">x {{produto.qtdProduto}}</p>
      </div>

    </div>

    <p class="total" *ngIf="mesa.total > 0" >R$ {{mesa.total}}</p>

    <div class="botoes-gerencia-mesas">
      <div class="limpar-mesa" *ngIf="this.tipo != 'mesa'" (click)="limparCarrinho(mesa.id)" >
        Limpar mesa
      </div>
      <div class="icone-lista" *ngIf="this.tipo != 'mesa'" routerLink="/gerencia" >
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-checklist" viewBox="0 0 16 16">
          <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
          <path d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0zM7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z"/>
        </svg>
      </div>
    </div>

  </div>

  <div class="painel-principal">

    <div class="card-categoria" *ngFor="let categoria of this.listaCategorias" >

      <h1>{{categoria.nome}}</h1>
      <strong>{{categoria.descricao}}</strong>

      <div class="produto">
        <div class="card-produto" *ngFor="let produto of categoria.produtos" >

          <div class="dados-produto">
            <div class="nome-preco">
              <p>{{produto.nome}}</p>
              <p>R$ {{produto.preco.toFixed(2)}}</p>
            </div>
            <div class="descricao">
              <p>{{produto.descricao}}</p>
            </div>
          </div>

          <div class="img" style="background-image: url({{produto.img}});" (click)="pedirProduto(mesa.id, produto.id)" >
            <!-- BACKGROUND IMG PRODUTO -->
          </div>

        </div>
      </div>

    </div>

  </div>
</section>
